<html>
	<head>
		<title>Caesars Cipher</title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<link href='/mobile.css' rel='stylesheet' type='text/css' />
		<link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
	</head>

	<body>
		<div class='wrapper'>
			<div class ='introduction'>
			<h1>Caesar's Cipher</h1>
				<p>Use a Caesar Ciper to encrypt and decrypt messages!</p>
				<p>Enter your message and a key then press Submit</p>
			</div>

			<div class='input'>
				<h2>Enter your Message:</h2>
				<h4>(Use a negative key to decrypt messages)</h4>

				<form>
					<label>Message:</label>
					<input type="text" name="message" value="Enter Your Message">
					<div class="line-space"></div>
					<label>Key:</label>
					<input type='number' name='key' style="width: 30px;" value='5' />
				
					<input type='submit' value='Submit'/>
				</form>
			</div>

			<div class='output'>
				<p>YOUR MESSAGE:</p>
				<p id='processed'><%= processed %></p>
			</div>
		</div>
	</body>
</html>



