<html>
	<head>
		<title>Caesars Cipher</title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<h1>Caesar's Cipher</h1>

		<p>"What a string!" with a key of 5 turns to</p>
		<p><%= message %></p>

	</body>
</html>



